*{
    margin:0 ;
    padding: ;
    font-family: 'Work Sans', sans-serif;
}

.common-button{
    border: none;
    color: white;
    background-color:#FF900E;
    padding: 15px 18px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 5px;
}


/*=================Header style start================*/
.header-style{
    background-color: #FFF4E7;
}

nav{
    padding: 30px 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1{
    font-weight: 900;
    font-size: 40px;
}

nav ul{
    display: flex;
    list-style: none;
    color:#424242;
}

nav ul li{
    margin: 0px 35px;
    font-weight: 20;
    font-size: 15px;
}

.header-text{
    margin-top: 15px;
    height: 1000px;
    text-align: center;
}

.header-text h1{
    font-weight: 800;
    font-size: 50px;
}
.header-text p{
    padding: 0 550px;
    margin-top: 30px;
    font-weight: 400;
    font-size: 14px;
}

#button1{
    margin-top: 25px;
}

.header-img{
    margin-top: 35px;
}
/*=================Header style end================*/

/*=================main style start================*/
.section1{
    
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.main-container1{
    height:600px ;
    width: 1350px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.team-img img{
    height: 290px;
    width: 320px;
}

.team-text{
    height: 100px;
    padding-left: 55px;
    margin-top: 150px;
}

.team-text h1{
    font-weight: 700;
    font-size: 45px;
    padding-right: 131px;
    margin-bottom: 30px;
}

#sp1{
    color:#727272;
}
#sp2{
   color: #131313;
}
#sp3{
    color:#FF900E ;
}

.team-text p{
    color:#727272 ;
    font-weight: 400;
    font-size: 14px;
    padding-right: 185px;
    margin-bottom: 15px;
}

/*=========Person start===========*/

.main-person{
    height: 950px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding-left: 40px;
}

.person-text{
    padding-left: 250px;
    padding-right: 40px;
    padding-top: 40px
}

.person-text h1{
    font-weight: 700;
    font-size: 40px;
    padding-right: 263px;
    padding-left: 20px;
    margin-bottom: 20px;
    border-left: 4px solid #FF900E ;
}

.person-text p{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 25px;
}

.person-text .desktop{
    padding: 20px 40px;
    margin: 15px 30px 15px 0px;
    border-radius: 6px;
    box-shadow: 5px 5px 90px #eeeeee;
}

.person-text .desktop h2{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 13px;
}

.person-text .desktop p{
    font-weight: 400;
    font-size: 16px;
}


.person-img img{
    height:900px;
}

#person-button{
    position: relative;
    right: 700px;
    padding: 20px 15px;
}

#person-button span{
    font-weight: 700;
    font-size: 35px;
    display: block;
}
/*============Person end===========*/
.main-about{
    margin-top: 30px;
}

.some{
    margin-left: 250px; 
    margin-top: 80px;
    width: 500px; 
}

.some h1{
    font-size: 40px;
    font-weight: 800;
}

.some p{
    font-size: 15px;
    font-weight: 600px;
    margin-top: 15px;
}

.info{
    width: 1400px;
    margin-top: 80px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-right: 70px;
    margin-left: 230px;
}


.boxes{
    border: 1px solid green;
    margin: 10px 20px;
    padding: 50px 35px;
    border-radius: 5px;
}

.boxes img{
    height:35px;
}

.boxes h1{
    font-size: 40px;
    font-weight: 600px;
}

.boxes p{
    font-size: 20px;
    font-weight: 800;
    color: #727272;
}

.spons{
    text-align: center;
    height: 300px;
    margin-top: 130px;
}

.spons h1{
    font-size: 55px;
    font-weight: 900;
    margin: 20px;
}

.spons p{
    color: #979393;
    font-size: 15px;
    font-weight: 600;
    padding:0px 660px;
    margin-top: 35px;
}

.spons img{
    margin-top: 80px;
    padding: 0px 70px;
}

/*=================main style end================*/

footer{
    padding: 25px 20px;
    background-color:#FFF4E7;
    text-align: center;
    margin: 50px 300px;
    border-radius: 10px;
}


