*{
    margin:0 ;
    padding: ;
    font-family: 'Work Sans', sans-serif;
}

.common-button{
    border: none;
    color: white;
    background-color:#FF900E;
    padding: 13px 18px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 5px;
}


/*=================Header style start================*/
.header-style{
    background-color: #FFF4E7;
}

nav{
    padding: 30px 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1{
    font-weight: 900;
    font-size: 40px;
}

nav ul{
    display: flex;
    list-style: none;
    color:#424242;
}

nav ul li{
    margin: 0px 35px;
    font-weight: 20;
    font-size: 15px;
}

.header-text{
    margin-top: 15px;
    height: 1000px;
    text-align: center;
}

.header-text h1{
    font-weight: 800;
    font-size: 50px;
}
.header-text p{
    padding: 0 550px;
    margin-top: 30px;
    font-weight: 400;
    font-size: 14px;
}

#button1{
    margin-top: 25px;
}

.header-img{
    margin-top: 35px;
}

/*=================Header style end================*/



